{{ 'component-linked-fields.js' | asset_url | script_tag_deferred }}

{% comment %}
  Renders a ...

  Accepts:
  - fields: {Array} Fields

  Usage:
  {% render 'yc-linked-fields', fields: [...] %}
{% endcomment %}

{% assign linked_fields = 'country,region,city' %}

<yc-linked-fields>
  {% for field in fields %}
    {% if linked_fields contains field.name %}
      <div class="field" data-field>
        <label>{{ field.display_name }}</label>
        <yc-combobox
          name="{{ field.name }}"
          {% if field.required %}
            required
          {% endif %}
        >
          <yc-combobox-trigger class="yc-btn icon" role="button" tabindex="0" aria-haspopup="listbox">
            <yc-combobox-value>{{ field.placeholder | default: 'Select' }}</yc-combobox-value>
          </yc-combobox-trigger>
          <yc-combobox-content role="listbox">
            <yc-combobox-search placeholder="Search.." no-results="No country found."></yc-combobox-search>
          </yc-combobox-content>
        </yc-combobox>
      </div>
    {% endif %}
  {% endfor %}
</yc-linked-fields>
